
/*********FOOTER****/
.footer {
    background: black;
    color: white;
    padding: 36px 0 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.footer-heni-logo img {
    height: 26px;
}
.address-display{
    color: #909090;
    margin-top: 24px;
    margin-bottom: 20px;
}
.tel-number, .email-address{
    color: #909090;
}
.tel-number>a, .email-address>a{
    text-decoration: none;
    color: white;
}
.email-address>a:hover, .tel-number>a:hover{
    color: white;
}
.heni-footer{
    border-top: 1px solid #777777;
    padding-top: 20px;
}
.footer-contacts{
    margin-bottom: 70px
}

.footer-menus{
    margin-top: 50px;
}

ul.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.footer-menu>li:before{
    content: "> ";
    color: white;
}
ul.footer-menu>li>a{
    color: white;
    text-decoration: none;
}
.social-media{
    position: absolute;
    right: 0;
}
.social-media>.link{
    margin-left: 12px;
    display: inline-block;
}

.heni-footer{
    color: #909090;
}
@media all and (max-width: 992px) {
    .footer-contacts, .footer-menus {
        margin-bottom: 15px;
    }
    .footer{
        color: #909090;
    }
}